<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; margin-top: 1em;">
  <h4 class="sprk-b-TypeDisplayFive">Welcome to {{ 'SSN Validation' }}!</h4>
</div>
<br>

<div id="ssn-input-root" class="sprk-o-Box">
  <form id="ssn-input-form">
    <p class="sprk-b-TypeBodyTwo"> A sample SSN input field which throws error if ssn is not in valid format.</p>
    <br>

    <div class="sprk-b-InputContainer">
      <label
        for="text-input"
        class="sprk-b-Label">
        Enter SSN here
      </label>

      <input
        class="sprk-b-TextInput sprk-u-Width-100"
        id="text-input"
        data-id="text-input"
        formControlName="ssn"
        placeholder="000-00-0000"
        inputmode="numeric"
        type="text"
        value=""
        aria-describedby="text-input--error-container">

      <div
        class="sprk-b-ErrorContainer"
        id="ssn--error-container">
          <svg
            class="sprk-c-Icon sprk-c-Icon--m sprk-b-ErrorIcon"
            viewBox="0 0 64 64">
            <use xlink:href="#exclamation-filled-small" />
          </svg>
          <div class="sprk-b-ErrorText">
            SSN is invalid.
          </div>
      </div>
    </div>
  </form>
</div>







